.background-container {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* Desktop view */
@media (min-width: 768px) {
    .background-layer.front {
      background-size: 100% auto; /* Scale front image to fit width */
      background-attachment: fixed; /* Keeps front image fixed */
      opacity: 0.5;
    }
  
    .background-layer.back {
      background-size: cover; /* Background covers the entire viewport */
      background-attachment: fixed;
    }
  }
  
  /* Mobile view (max-width: 767px) */
  @media (max-width: 767px) {
    .background-layer.back {
      background-image: url('../public/mobile-background.png'); /* Mobile background */
      background-size: cover; /* Background covers the viewport */
      background-attachment: fixed; /* Stays fixed while front scrolls */
    }
  
    .background-layer.front {
      background-image: url('../public/mobile-front.png'); /* Mobile front image */
      background-size: 100% auto; /* Fit the front image to the width, no repeating */
      background-repeat: no-repeat; /* Ensure it doesn't repeat */
      background-attachment: scroll; /* Allows scrolling */
      height: 100vh; /* Set the height to full viewport height */
      opacity: 0.5;
    }
  
    /* Ensure the container is full height and enables scrolling */
    .background-container {
      height: 100vh; /* Full height of the viewport */
      overflow-y: scroll; /* Enable vertical scrolling */
    }
  }
  

.content-layer { 
    color: #ff1493;
    /* z-index: 5; */
    /* overflow: scroll; */
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.content-layer h1 {
    margin-bottom: 15px;
}

.content-layer p {
    margin: 10px 0;
}